<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="resume.css" />
  </head>
  <body>
    <article class="markdown-body">
      <h1 id="sheikh-saad-abdullah">Sheikh Saad Abdullah</h1>
      <header>
        <p>Halifax, NS, B3L 4P7</p>
        <section>
          <a href="tel:+19028180048">+1 (902) 818-0048</a>
          <a href="mailto:sheikh@cybar.dev">sheikh@cybar.dev</a>
          <a href="https://www.cybar.dev">www.cybar.dev</a>
          <a href="https://github.com/cybardev">github.com/cybardev</a>
          <a href="https://www.linkedin.com/in/cybardev">linkedin.com/in/cybardev</a>
        </section>
      </header>
      <hr />
      <h2 id="profile">Profile</h2>
      <p>
        Adaptable and enthusiastic Computer Science major with expertise in Python,
        JavaScript, Git, Linux, and various standard tools and technologies. Completed
        two co-op internships in the software development industry and proactively
        engaged in creating open-source software projects, showcasing a commitment to
        continuous learning and creative problem-solving. Highly interested in DevOps
        and Cloud computing, currently looking to apply acquired skills in a new work
        environment.
      </p>
      <h2 id="education">Education</h2>
      <div class="xp-h">
        <span>Saint Mary’s University</span><span>Halifax, Nova Scotia</span>
      </div>
      <div class="xp-s">
        <span>Bachelor of Science in Computing Science</span
        ><span>Graduation: May 2025</span>
      </div>
      <p>
        <strong>Notable Courses</strong>: Artificial Intelligence, Data Structures and
        Algorithms, Software Engineering, Systems Security
      </p>
      <h2 id="experience">Experience</h2>
      <div class="xp-h">
        <span>ReelData AI</span><span>Halifax, Nova Scotia</span>
      </div>
      <div class="xp-s">
        <span>Junior Software Developer (co-op)</span
        ><span>Sept 2023 - Dec 2023</span>
      </div>
      <ul>
        <li>
          Developed Python module to annotate videos with metadata consumed from
          Apache Kafka topics using GStreamer pipelines, allowing farm operators to
          view video stream details via dashboard
        </li>
        <li>
          Collaborated with a dynamic remote-first Agile team on ReelAppetite, a
          flagship product, implementing key features according to client requirements
        </li>
        <li>
          Implemented features using test-driven development by creating unit and
          integration tests to be run in the CI/CD pipeline, validating expected
          processor workflow
        </li>
        <li>
          Augmented stream processor in development to standardize environment
          variable names to avoid conflicts
        </li>
        <li>
          Researched porting Docker container from x86 to ARM (Nvidia Jetson) to run
          processor locally as edge application
        </li>
      </ul>
      <div class="xp-h">
        <span>Sensor Technology LTD (COVE)</span><span>Dartmouth, Nova Scotia</span>
      </div>
      <div class="xp-s">
        <span>Research Intern (co-op)</span><span>May 2023 - Aug 2023</span>
      </div>
      <ul>
        <li>
          Developed Python script for audio generation, playback, and logging,
          allowing in-house testing of underwater acoustic projectors
        </li>
        <li>
          Configured Raspberry Pi systems with Linux to develop and test the Acoustic
          Projector Control and Logging System
        </li>
        <li>
          Implemented module to connect to private Signal K server and utilize its API
          to effectively retrieve sensor data
        </li>
        <li>
          Created a framework for logging data from sensors, consuming it via API
          calls, and storing it in an SQLite database
        </li>
      </ul>
      <h2 id="projects">Projects</h2>
      <p>
        <strong>Resumake</strong> (<a href="https://github.com/cybardev/resumake"
          >github.com/cybardev/resumake</a
        >) Programmatic resume generator published to PyPI and DockerHub, built and
        deployed using GitHub Actions CI/CD workflow for easy installation and usage.
        <strong>[Python, Docker, CI/CD]</strong>
      </p>
      <p>
        <strong>Noctrun</strong> (<a href="https://github.com/cybardev/Noctrun"
          >github.com/cybardev/Noctrun</a
        >) 2D side-scrolling endless runner game featuring the ghosts of Bengal, made
        in Unity using C# scripts. Built for Windows, Mac, Linux, and Desktop Web
        browsers.
        <strong>[C#, Unity, Game Development]</strong>
      </p>
      <p>
        <strong>yt.py</strong> (<a href="https://github.com/cybardev/ytpy"
          >github.com/cybardev/ytpy</a
        >) YouTube media player that uses web scraping techniques to play media from
        YouTube without the YouTube API. Also translated to Go
        (github.com/cybardev/ytgo)
        <strong>[Python, Go, Web Scraping, CLI Development]</strong>
      </p>
      <h2 id="skills">Skills</h2>
      <p>
        <strong>Technologies</strong>: Python, Go, Docker, Git, NodeJS, ExpressJS,
        Mongo, MySQL, MS Excel, JavaScript, Java, C#, C/C++<br />
        <strong>Interests</strong>: Linux, Open-source, Shell Scripting, Automation,
        Cloud, CI/CD, DevOps, Agile Development, Data Analytics
      </p>
    </article>
  </body>
</html>
