# boilerplate
__pycache__/
_site/
dist/
.pdm-build/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.DS_Store

# custom resume files
*.old
*test.*
*_part.py
*_partial.py

# editor config
.vscode/

# unignore workflows
!.github/workflows/*
