/** Resume **/

/* MarkText Theme */

.hf-container,
.markdown-body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.2;
    color: #212121;
}

:root {
    --footerHeaderBorderColor: #1c1c1c;
    --font-family: "Helvetica Neue", "Source Sans Pro", "Segoe UI", "Open Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-size: 14px;
}
.hf-container {
    font-size: 0.75em;
}
.page-header:not(.simple) .hf-container {
    padding-bottom: 2px;
    border-bottom: 1px solid var(--footerHeaderBorderColor);
}
.page-footer:not(.simple) .hf-container {
    padding-top: 2px;
    border-top: 1px solid var(--footerHeaderBorderColor);
}

.footnotes {
    font-size: 0.75em;
    opacity: 0.9;
}
.footnotes > hr:first-of-type {
    width: 250px;
    height: 1px;
    background: var(--footerHeaderBorderColor);
}
.footnotes > ol > li > p {
    margin-block: 4px;
}
.footnotes .footnote-back,
.markdown-body a.footnote-ref {
    color: #212121;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    font-weight: 600;
    color: #282828;
    margin-block: var(--font-size);
}

.markdown-body h1 {
    font-size: 1.8em;
    text-align: center;
    margin-block: 8px;
}
.markdown-body h2 {
    font-size: 1.4em;
    text-decoration: underline;
}
.markdown-body h3 {
    font-size: 1.3em;
}
.markdown-body h4,
.markdown-body h5 {
    font-size: 1.2em;
}
.markdown-body h6 {
    font-size: 1em;
    font-weight: 400;
}

.markdown-body h1,
.markdown-body h2 {
    border-bottom: none;
    padding-bottom: 0;
}

.markdown-body hr {
    background-color: #d7d8d9;
    height: 1px;
    margin-block: 12px;
}

.markdown-body .highlight pre,
.markdown-body pre {
    background-color: #f6f8fa;
    border: 1px solid #e5e5e5;
    border-radius: 0;
}

.markdown-body li > p {
    margin-block: calc(var(--font-size) / 2);
}

.markdown-body header > p {
    text-align: center;
    margin-block: 0;
}

.markdown-body header section {
    display: flex;
    justify-content: space-around;
    margin-block: 8px;
}

.markdown-body [class^="xp-"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.markdown-body .xp-h {
    margin-top: 12px;
    margin-bottom: 6px;
}

.markdown-body .xp-s {
    margin-top: 6px;
    margin-bottom: 6px;
}
